name: ciml-{{ dataset }}-{{ experiment }}
description: CI Machine Learning
version: "1.0"
gpus: 1
cpus: 2
memory: 16Gb
learners: 1

# Object stores that allow the system to retrieve training data.
data_stores:
  - id: ciml_data
    type: mount_cos
    training_data:
      container: cimldatasets
    training_results:
      container: cimloutput
    connection:
      auth_url: {{ s3_auth_url }}
      user_name: {{ s3_access_key_id }}
      password: {{ s3_secret_access_key }}

framework:
  name: tensorflow
  version: 1.6.0-gpu-py3
  command: >
    ./ffdl/train.sh {{ dataset }} {{ experiment }}

evaluation_metrics:
  type: tensorboard
  in: "$MODEL_DIR/{{ dataset }}/{{ experiment }}"
  # (Eventual) Available event types: 'images', 'distributions', 'histograms', 'images'
  # 'audio', 'scalars', 'tensors', 'graph', 'meta_graph', 'run_metadata'
  event_types: [scalars]
